* {
	border:1px solid black;
}
nav {
    width: 270px;
	height: 100%;
	text-align: center;
}

nav a {
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 20px;
	padding-right: 20px;
}

.name{
    background-color: #4aaaa5;
	color: #fff;
	font-size: 30px;
	padding: 35px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

.main {
	border-top: 2px solid #dddddd;
	border-bottom: 10px solid #4aaaa5;
	background: url('images/pow-star.png');
	height: 762px;
}

.footer {
	height: 100px;
	background-color: #666666;
	text-align: center;
}